Spring Board Error Code

|===
|코드 | 메시지 | Http 상태 코드

{{#fields}}
|{{#tableCellContent}}{{code}}{{/tableCellContent}}
|{{#tableCellContent}}{{message}}{{/tableCellContent}}
|{{#tableCellContent}}{{httpStatus}}{{/tableCellContent}}

{{/fields}}
|===